body { background-color: black; }

.sendImgFile {
	color: white;
    font-family: monospace;
    font-size: 9vw;
    border: 5px solid #03a3ce;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #0a073e;
    box-shadow: 0 0 2px 2px #03a3ce;
	
}

.sendImg {
	display: none;
}

.imgs {
	width: 100%;
}