body { background-color: black; }

.sendImgFile {
	    color: white;
    font-family: monospace;
    font-size: 9vw;
    box-shadow: 0 0 5px 5px #03a3ce;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #0a073e;
    bottom: 15px;
	
}

.sendImg {
	display: none;
}

.imgs {
	width: 100%;
}